
/* Styles globaux du body */
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Styles globaux pour h2 et h3 */
h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

h3 {
  color: #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  color: #ffcf01;
  font-weight: bold;
  margin-top: 0;
}

h5 {
  color: #000000;
  font-weight: bold;
  margin-top: 0;
  font-size: 1rem;
}

/* Conteneur principal de la page */
.pageContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 180px;
  box-sizing: border-box;
}

@media (max-width: 1270px) {
  .pageContainer {
    max-width: 1000px;
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 710px) {
  .pageContainer {
    max-width: 100%;
    padding: 0.5rem;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.assignModalUserItemSelected {
  background-color: #ffcf01;
}